:root {
    --main-color : #fff;
    --sub-color: #000;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    /* background-color: rgba(0, 0, 0, 0.6); */
    box-sizing: border-box;
    /* overflow-x: hidden; */
}


a {
    text-decoration: none;
    color: var(--main-color);
}

ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}

span, p {
    padding: 0;
    margin: 0;
}

em {
    font-style: normal;
}

/* main 영역 */

main {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 1px solid green;
}

/* header 영역 */

header {
    border: 1px solid red;
    width: 100%;
}

/* nav 영역 */

/* top */


.top_layout {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: none; */
    position: relative;
    opacity: 1;
}


.top_layout .logo {
    text-align: center;
    border: 1px solid blue;
    margin-left: 30px;
}

.top_layout .nav {
    width: 55%;
}

.top_layout .nav .nav_ul {
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100px;
}

.top_layout .nav .nav_ul > li {
    border: 1px solid blue;
    width: 120px;
    height: 100PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.top_layout .nav .nav_ul > li > a {
    color: var( --main-color);
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 50px;
    border-bottom: 5px solid transparent;
    transition: 0.2s;
}

.top_layout .nav .nav_ul > li > a:hover {
    border-bottom: 5px solid black;
}

.top_layout .nav_icon {
    width: 15%;
    margin-right: 30px;
    border: 3px solid green;
}

.top_layout .nav_icon .icon_wrap {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid yellow;
    justify-content: space-around;
    align-items: center;
}


.top_layout .nav_icon .icon_wrap li a span {
    font-size: 36px;
    color: var( --main-color);
}

.top_layout .nav_icon .icon_wrap .icon_language {
    display: flex;
}

.top_layout .nav_icon .icon_wrap .icon_language li {
    border: 1px solid var(--main-color);
    padding: 0 10px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}


.top_layout .nav_icon .icon_wrap .icon_language li:nth-child(1) {   
    background-color: var(--main-color);
}

.top_layout .nav_icon .icon_wrap .icon_language li:nth-child(1) a {
    color: var(--sub-color);
}


.top_layout:hover > #bottom_layout{
    opacity: 1;
    transition: all 0.5s;
}

/* bottom */
.bottom_layout {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    /* box-shadow: 5px 5px 5px; */
    /* visibility: hidden; */
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; 
}

.bottom_layout .logo {
    text-align: center;
    border: 1px solid blue;
    margin-left: 30px;
}

.bottom_layout .bottom_nav {
    width: 55%;
}

.bottom_layout .bottom_nav .bottom_nav_ul {
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100px;
}

.bottom_layout .bottom_nav .bottom_nav_ul > li {
    border: 1px solid blue;
    width: 120px;
    height: 100PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.bottom_layout .bottom_nav .bottom_nav_ul > li > a {
    color: var( --sub-color);
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 50px;
    border-bottom: 5px solid transparent;
    transition: 0.2s;
}

.bottom_layout .bottom_nav .bottom_nav_ul > li > a:hover {
    border-bottom: 5px solid black;
}

.bottom_layout .bottom_nav_icon {
    width: 15%;
    margin-right: 30px;
    border: 3px solid green;
}

.bottom_layout .bottom_nav_icon .bottom_icon_wrap {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid yellow;
    justify-content: space-around;
    align-items: center;
}


.bottom_layout .bottom_nav_icon .bottom_icon_wrap li a span {
    font-size: 36px;
    color: var( --sub-color);
}

.bottom_layout .bottom_nav_icon .bottom_icon_wrap .bottom_icon_language {
    display: flex;
}

.bottom_layout .bottom_nav_icon .bottom_icon_wrap .bottom_icon_language li {
    border: 1px solid var(--sub-color);
    padding: 0 10px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}


.bottom_layout .bottom_nav_icon .bottom_icon_wrap .bottom_icon_language li:nth-child(1) {   
    background-color: var(--sub-color);
}

.bottom_icon_language li:nth-child(2) a {
    color: var(--sub-color);
}

.bottom_layout .bottom_nav_icon .bottom_icon_wrap .bottom_icon_language li:nth-child(1) a {
    color: var(--main-color);
}



/* depth 영역 */


/* depth1 영역 */

.bottom_nav_li_01:hover .bottom_nav_depth01 {
    display: block;
}

.bottom_nav_depth01 {
    position: absolute;
    display: flex;
    left: 0;
    top: 100px;
    width: 100vw;
    height: 50px;
    background-color: #ddd;
    display: none;
    transition: 0.4s;
}

.bottom_nav_depth_container01 {
    width: 850px;
    margin: 0 auto;
}

.bottom_nav_depth01_01 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottom_nav_depth01_01 > li {
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bottom_nav_depth01_01 > li > a {
    color: var(--sub-color);
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 5px solid transparent;
}

.bottom_nav_depth01_01 > li:hover > a {
    border-bottom: 5px solid black;
}

.bottom_nav_depth01_01 li::after {
    content: '|';
    position: relative;
    top: 0;
    left: 23px;    
    color: #777;
}

.bottom_nav_depth01_01 li:last-child::after {
    content: none;
}


/* depth2 영역 */


.bottom_nav_li_02:hover .bottom_nav_depth02 {
    display: block;
}

.bottom_nav_depth02 {
    position: absolute;
    display: flex;
    border: 2px solid  blue;
    left: 0;
    top: 100px;
    width: 100vw;
    height: 50px;
    background-color: #ddd;
    
    display: none;
}

.bottom_nav_depth_container02 {
    width: 850px;
    margin: 0 auto;
    border: 1px solid red;
}

.bottom_nav_depth02_01 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_nav_depth02_01 > li {
    padding: 0 20px;
  
}

.bottom_nav_depth02_01 > li > a {
    color: var(--sub-color);
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 5px solid transparent;
}

.bottom_nav_depth02_01 > li:hover > a {
    border-bottom: 5px solid black;
}

.bottom_nav_depth02_01 li::after {
    content: '|';
    position: relative;
    top: 0;
    left: 23px;    
    color: #777;  
}

.bottom_nav_depth02_01 li:last-child::after {
    content: none;
}


/* depth3 영역 */

.bottom_nav_li_03:hover .bottom_nav_depth03 {
    display: block;
}

.bottom_nav_depth03 {
    position: absolute;
    display: flex;
    border: 2px solid  blue;
    left: 0;
    top: 100px;
    width: 100vw;
    height: 50px;
    background-color: #ddd;
    display: none;
}

.bottom_nav_depth_container03 {
    width: 850px;
    margin: 0 auto;
    border: 1px solid red;
}

.bottom_nav_depth03_01 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_nav_depth03_01 > li {
    padding: 0 20px;
}

.bottom_nav_depth03_01 > li > a {
    color: var(--sub-color);
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 5px solid transparent;
}

.bottom_nav_depth03_01 > li:hover > a {
    border-bottom: 5px solid black;
}

.bottom_nav_depth03_01 li::after {
    content: '|';
    position: relative;
    top: 0;
    left: 23px;    
    color: #777;  
}

.bottom_nav_depth03_01 li:last-child::after {
    content: none;
}

/* depth4 영역 */


.bottom_nav_li_04:hover .bottom_nav_depth04 {
    display: block;
}

.bottom_nav_depth04 {
    position: absolute;
    display: flex;
    border: 2px solid  blue;
    left: 0;
    top: 100px;
    width: 100vw;
    height: 50px;
    background-color: #ddd;
    display: none;
}

.bottom_nav_depth_container04 {
    width: 850px;
    margin: 0 auto;
    border: 1px solid red;
}

.bottom_nav_depth04_01 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_nav_depth04_01 > li {
    padding: 0 20px;
}

.bottom_nav_depth04_01 > li > a {
    color: var(--sub-color);
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 5px solid transparent;
}

.bottom_nav_depth04_01 > li:hover > a {
    border-bottom: 5px solid black;
}

.bottom_nav_depth04_01 li::after {
    content: '|';
    position: relative;
    top: 0;
    left: 23px;    
    color: #777;  
}

.bottom_nav_depth04_01 li:last-child::after {
    content: none;
}

/* depth5 영역 */

.bottom_nav_li_05:hover .bottom_nav_depth05 {
    display: block;
}

.bottom_nav_depth05 {
    position: absolute;
    display: flex;
    border: 2px solid  blue;
    left: 0;
    top: 100px;
    width: 100vw;
    height: 50px;
    background-color: #ddd;
    display: none;
}

.bottom_nav_depth_container05 {
    width: 850px;
    margin: 0 auto;
    border: 1px solid red;
}

.bottom_nav_depth05_01 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_nav_depth05_01 > li {
    padding: 0 20px;
}

.bottom_nav_depth05_01 > li > a {
    color: var(--sub-color);
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 5px solid transparent;
}

.bottom_nav_depth05_01 > li:hover > a {
    border-bottom: 5px solid black;
}

.bottom_nav_depth05_01 li::after {
    content: '|';
    position: relative;
    top: 0;
    left: 23px;    
    color: #777;  
}

.bottom_nav_depth05_01 li:last-child::after {
    content: none;
}


/* depth6 영역 */

.bottom_nav_li_06:hover .bottom_nav_depth06 {
    display: block;
}

.bottom_nav_depth06 {
    position: absolute;
    display: flex;
    border: 2px solid  blue;
    left: 0;
    top: 100px;
    width: 100vw;
    height: 50px;
    background-color: #ddd;
    display: none;
}

.bottom_nav_depth_container06 {
    width: 850px;
    margin: 0 auto;
    border: 1px solid red;
}

.bottom_nav_depth06_01 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_nav_depth06_01 > li {
    padding: 0 20px;
}

.bottom_nav_depth06_01 > li > a {
    color: var(--sub-color);
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 5px solid transparent;
}

.bottom_nav_depth06_01 > li:hover > a {
    border-bottom: 5px solid black;
}

.bottom_nav_depth06_01 li::after {
    content: '|';
    position: relative;
    top: 0;
    left: 23px;    
    color: #777;  
}

.bottom_nav_depth06_01 li:last-child::after {
    content: none;
}

/* depth7 영역 */

.bottom_nav_li_07:hover .bottom_nav_depth07 {
    display: block;
}

.bottom_nav_depth07 {
    position: absolute;
    display: flex;
    border: 2px solid  blue;
    left: 0;
    top: 100px;
    width: 100vw;
    height: 50px;
    background-color: #ddd;
    display: none;
}

.bottom_nav_depth_container07 {
    width: 850px;
    margin: 0 auto;
    border: 1px solid red;
}

.bottom_nav_depth07_01 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_nav_depth07_01 > li {
    padding: 0 20px;
}

.bottom_nav_depth07_01 > li > a {
    color: var(--sub-color);
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 5px solid transparent;
}

.bottom_nav_depth07_01 > li:hover > a {
    border-bottom: 5px solid black;
}

.bottom_nav_depth07_01 li::after {
    content: '|';
    position: relative;
    top: 0;
    left: 23px;    
    color: #777;  
}
.bottom_nav_depth07_01 li:last-child::after {
    content: none;
}

/* section */

.section {
    border: 3px solid green;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    z-index: -1;
    
}

.section_container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.section_container video {
    width: 100vw;
    height: 100vh;
    transform: scale(1.15);
}


/* section */

.section02 {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    border: 1px solid red;
}

.section02_container {
    width: 90%;
    border: 1px solid blue;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    font-size: 17px;
}

/* right_box */

.box_right_box {
    width: 30%;
    height: 100px;
    margin-left: 50px;
}

.box_right_box .inner strong {
    border: 1px solid red;
    display: block;
}

.box_right_box .inner .box_title {
    position: relative;
    margin-left: 25px;
    height: 24px;
}


.box_right_box .inner .box_title span {
    position: absolute;
    height: 24px;
    top: 0;
    left: -25px;
}  

.box_right_box .inner .info_list {
    line-height: 28px;
}

/* left_box */

.box_left_box {
    border: 1px solid red;
    width: 70%;
    height: 100px;
}

.box_left_box .inner {
    border: 1px solid yellow;
    height: 100px;
}

.box_left_box .inner .box_title {
    display: inline;
    border: 1px solid red;
}

.box_left_box .inner .box_title::before {
    content: 'N';
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: tomato;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    font-weight: bold;
    color: #fff;
}


.box_left_box .inner .box_title strong {
    font-weight: bold;
}

.box_left_box .inner div {
    border: 1px solid red;
    display: flex;
}

.box_left_box .inner .box_container {
    border: 3px solid green;
    position: relative;
}

.box_left_box .inner .box_container .box_content_box {
    width: 25vw;
    height: 70px;
    position: relative;
}

.box_left_box .inner .box_container .box_content_box .content_title {
    font-weight: 300;
    color: var(--sub-color);
}

.box_left_box .inner .box_container .box_content_box .content_text {
    position: absolute;
    right: 0;
    bottom: 0;
}

.box_left_box .inner .box_container .box_content_box .content_text .content_date {
    font-size: 14px;
    font-weight: 300;
    color: var(--sub-color);
}

.box_left_box .inner .box_container .box_content_box .content_text .content_date em {
    font-style: normal;
    font-weight: 300;
}

.box_left_box .inner .box_container .board_more a {
    position:absolute;
    top: -20px;
    right: 0;
    width: 50px;
    height: 50px;
}

.box_left_box .inner .box_container .board_more span::after {
    content: '';
    width: 1px;
    height: 50px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

.box_left_box .inner .box_container .board_more span::before {
    content: '';
    width: 1px;
    height: 50px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%) rotate(90deg); 
}



.box_left_box .inner .box_container .board_more a:hover {
    transform: rotate(90deg);
    transition: 0.8s;
}



/* article 영역 */

.article01 {
    width: 100%;
    height: 620px;
    border: 1px solid blue;
    margin-top: 100px;
}

.article01_container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.title_box {
    text-align: center;
    border: 1px solid red;
}

.title_box span {
    display: block;
    font-size: 14px;
    margin-bottom: 11px;
}

.title_box {
    font-size: 28px;
}

.article01_slider {
    border: 2px solid green;
    margin-top: 50px;
    position: relative;
    margin-top: 100px;
}

.article01_slider_container {
    border: 1px solid yellow;
    height: 350px;
}

.article01_slider_container::after {
    content: '';
    position: absolute;
    top: -12%;
    right: -10%;
    background-color: #e7e7e7;
    width: 900px;
    height: 350px;
    z-index: -10;
}

.article01_slider_container::before {
    content: '';
    position: absolute;
    background-image: url(../assets/imgs/article01/article01_backimage.png);
    background-repeat: no-repeat;
    top: 95%;
    left: 55%;
    z-index: -1;
    width: 750px;
    height: 100px;

}

.item {
    width: 100%; 
    height: 100%;
    border: 1px solid red;
    position: absolute;
    top: 0;
    display: none;
}

.item_container {
    width: 80%;
    height: 350px;
    display: flex;
    margin: 0 auto;
    border: 3px solid mediumaquamarine;
}


.text_box {
    width: 550px;
    height: 100%;
    border: 1px solid blue;
    background-color: var(--sub-color);
    color: var(--main-color);
    position: relative;
}

.text_box_container {
    margin-top: 100px;
    margin-left: 9%;
    border: 1px solid red;
    width: 80%;
}

.text_box_container strong {
    display: block;
    font-size: 26px;
    margin-bottom: 10px;
}

.text_box_container span {
    line-height: 30px;
}

.text_box_container .btn_Wrap {
    position: absolute;
    left: 9%;
    bottom: 10%;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid var(--main-color);
    padding: 10px 15px;
}

.text_box_container .btn_Wrap i {
    margin-left: 20px;
}

.text_box_container .btn_Wrap:hover {
    background-color: var(--main-color);
    transition: 0.8s;
}

.text_box_container .btn_Wrap:hover span {
    color: var(--sub-color);
}

.img_box {
    display: flex;
    width: 900px;
    justify-content: center;
    align-items: center;
    z-index: -1;
    overflow: hidden;
}

.img_box img {
   background-size: cover;
}


/* 버튼 영역 */

.slider_nav {
    position: absolute;
    top: 40px;
    left: 13%;
    z-index: 10;
}

.slider_nav ul {
    display: flex;
}

.slider_nav ul li {
    margin-left: 10px;
}

.slider_nav_btn {
    width: 94px;
    height: 33px;
    border: 1px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
}

.active, .slider_nav_btn:hover {
    background-color: var(--main-color);
    color: var(--sub-color);
}

/* prev */

.prev, .next {
    cursor: pointer;
    color: var(--sub-color);
    font-size: 42px; 
    position: absolute;
    top: 60%;
}

.next {
    right: 0;
}

/* fade animation */

.fade { 
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



/* article02 */

.article02 {
    width: 100%;
    height: 880px;
    border: 1px solid red;
    position: relative;
    margin-top: 50px;
}

.article02::after {
    content: '';
    position: absolute;
    top: 0;
    left: 20%;
    background-image: url(../assets/imgs/article02/bg.jpg);
    background-size: cover;
    min-width: 100%;
    height: 600px;
    z-index: -1;
    border: 3px solid red;
}

.article02::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eaeaea;
    width: 100%;
    height: 110px;
    z-index: -2;
}

.article02_wrap {
    width: 100%;
    height: 520px;
    border: 3px solid blue;
    position: relative;
    top: 12%;
}

.article02 .content {
    width: 95%;
    margin: 0 auto;
    border:  1px solid green;
}

.article02 .link_area {
    width: 45%;
    padding : 100px 150px 200px 66px;
    height: 250px;
    background-color: var(--main-color);
    border: 1px solid blue;
    position: relative;
}

.article02 .inner {
    width: 60%;
    height: 270px;
    border: 1px solid red;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article02 .title_box {
    font-size: 40px;
    text-align: left;
    margin-bottom: 30px;
}

.article02 .title_box em {
    display: block;
}

.article02 .text_info {
    margin-bottom: 50px;
}

.article02 .text_info span {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.article02 .link_info ul li a {
    background-color: var(--sub-color);
}

.article02 .link_info {
    border: 1px solid blue;
    height: 50px;
}

.article02 .link_info ul {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    border: 1px solid yellow;
    width: 100%;
    height: 50px;
}

.article02 .link_info li {
    border: 1px solid red;
    width: 25%;
    background-color: var(--sub-color);
    margin: 0 10px;
    text-align: center;
    line-height: 48px;

}

.article02 .link_info li a{
    display: inline-block;
    width: 100%;
    height: 48px;
}

.article02 .link_info li:nth-child(1) {
    margin-left: 10px;
}

.article02 .link_info li a span {
    font-weight: bold;
    font-size: 16px;
}

.article02 .link_info li:hover, .article02 .link_info li a:hover{
    background-color: var(--main-color);
    color: var(--sub-color);
    transition: all 0.6s;
}

.move_text_box {
    position: absolute;
    left: 0;
    bottom: -120px;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.text {
    width: 400%;
    display: flex;
    transition: 0.3s;
    white-space: nowrap;
}

.move_text_box .text p {
    background-image: url(../assets/imgs/article02/Type.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70px;
    text-indent: -9999px;
    margin-right: 40px;
    cursor: default;
    animation: textLoop 50s linear infinite;
}

@keyframes textLoop {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}




